* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.i__1 {
  /* fit-content-styletype */

  width: 100vw;
  height: 100%;
  max-height: max-content;

  /* display */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* elements */

  padding: 20px;
}

.i__2 {
  /* fit-content-styletype */

  width: 100vw;
  height: 100%;
  max-height: max-content;

  /* display */

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;

  /* elements */
  gap: 20px;
  padding: 20px;
}
